button {
  width: calc(50% - 8px);
  padding: 8px 20px;
  text-align: center;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

button:first-child {
  margin-right: 16px;
}

button > img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.facebookBtn {
  background-color: #4f70b5;
  border: 1px solid #4f70b5;
  color: #fff;
}
.googleBtn {
  color: #000;
  background-color: #fff;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  button {
    width: 100%;
    margin: 0 0 16px 0;
  }
}
